*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{

    background:#f4f8fb;

}



header{

    background: linear-gradient(135deg,#0077b6,#00b4d8);
    height:90px;
    padding:0 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:sticky;
    top:0;

    z-index:1000;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

header h1{

    font-size:38px;

    color:white;

    font-weight:700;

    letter-spacing:1px;

}

.logo{

    display:flex;

    align-items:center;

    gap:15px;

}

.logo img{

    width:60px;

    height:60px;

}

.logo h1{

    font-size:34px;

    color:white;

}


nav a{

    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:600;
    position:relative;
    transition:.3s;
}



.bienvenida
{

    text-align:center;
    padding:60px 20px;
    background:rgb(43, 193, 239);

}



.bienvenida h2
{

    font-size:42px;
    color:#0077b6;
    margin-bottom:20px;

}



button
{
     margin-top:30px;
    background:#0096c7;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:16px;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
}



.servicios
{
    padding:70px 20px;
    text-align:center;
}

.Tratamientos{

    padding:40px;

    text-align:center;

}

.tarjetas
{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}



.card{

    width:280px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;

}



.contacto{

     background:#eaf6fb;
    padding:70px 20px;
    text-align:center;

}



form{

    display:flex;

    flex-direction:column;

    width:300px;

    margin:auto;

}



input,textarea{

    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;

}



footer{

    background:#023e8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;

}
